.Home {
    margin: 10%;
    margin-top: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description {
    font-size: 1.5em;
    margin: 1% 2% 0 2%;
    line-height: 0.9;
}

.form-subheading {
    margin-top: 3%;
    font-weight: bold;
}

.optionsRow {
    margin: 2% 40% 0 40%;
    text-align: left;
}

.filter {
    text-indent: 10px;
}

.btn {
    animation: backwards;
}

.form-check-input {
    margin: 2%;
}

.filter-btn {
    font-size: 1.2em;
    margin-bottom: 6%;
    align-content: center;
}